In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./biodiversity-in-national-parks/parks.csv', index_col=['Park Code'])

In [7]:
df.head(3)

                        Park Name State   Acres  Latitude  Longitude
Park Code
ACAD         Acadia National Park    ME   47390     44.35     -68.21
ARCH         Arches National Park    UT   76519     38.68    -109.57
BADL       Badlands National Park    SD  242756     43.75    -102.50

In [4]:
# Accessing a single row
df.iloc[2]

Park Name    Badlands National Park
State                            SD
Acres                        242756
Latitude                      43.75
Longitude                    -102.5
Name: BADL, dtype: object

In [9]:
# Another way
# Pass value from dataframe index to .loc
df.loc['BADL']

Park Name    Badlands National Park
State                            SD
Acres                        242756
Latitude                      43.75
Longitude                    -102.5
Name: BADL, dtype: object

# Indexing: Multiple Rows

In [10]:
df.loc[['BADL', 'ARCH', 'ACAD']]

                        Park Name State   Acres  Latitude  Longitude
Park Code
BADL       Badlands National Park    SD  242756     43.75    -102.50
ARCH         Arches National Park    UT   76519     38.68    -109.57
ACAD         Acadia National Park    ME   47390     44.35     -68.21